@import '../../css/variables';

.search {

  display: inline-block;
    max-width: fit-content;
    /*flex: 1 auto;*/
   margin:0 0rem;
   
  @media (min-width: $desktop-breakpoint) {
    margin: 0 0 0 24px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: $desktop-breakpoint) {
    display: inline-block;
	width: 60%;
	padding: 0 0.5rem;
  }
}

.search__input {
  appearance: none;
  background: var(--searchBackground);
  color: var(--searchColor);	
  border: 0;
  border-radius: 3px;
  font-size: 17px;
  font-weight: 400;
  font-family: inherit;
  position: relative;
  padding: 4px 16px;
  width: 100%;
  @media (min-width: $desktop-breakpoint) {
	max-width: 160px;
	margin-right: 1rem;
  }
}
